h1 {
    padding-top: 10px;
    text-align: center;
}
header {
    border-bottom: thick solid black;
    margin-left: 30%;
    margin-right: 30%;
}
.postbreak {
    border-bottom: solid black;
}
.error {
    color:red;
    font-style: italic;
}
#form {
    margin-bottom: 3%;
}
div.container {
    width: 100%;
}
nav{
    float: left;
    max-width: 30%;
    margin-left: 3%;
}
ul {
    list-style-type: none;
    padding:0;
}
article {
    color: black;
    font-family: Arial;
    margin-left: 30%;
    margin-right: 30%;
}
img {
    width: 100%;
}
a {
    text-decoration : none;
    color : #000;
}
form {
    margin-top: 3%;
    font: 16px 'Arial', sans-serif;
    border-radius: 10px;
}
.span {
    width: 100%;
}
textarea {
    width: 100%;
    height: 120px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}