{% extends "base.html" %}
{% block content %}

<form action="/" method="post">
Username
            <input type="text" name="username" value="{{ username }}">
            <span class="error">{{ username_error }}</span>

Password
            <input type="password" name="Password">
            <span class="error">{{ pass_error }}</span>
>Verify Password
            <input type="password" name="VerifyPass">
            <span class="error">{{ vpass_error }}</span>
Email (optional)
            <input type="text" name="EmailOptional" value="{{ Email }}">
            <span class="error">{{ email_error }}</span>
    <input type="submit" value="Submit">
</form>



{% endblock %}