{% extends "base.html" %}
{% block content %}

<form action="/signup" method="post">
    <div id="form">
        <label>Username</label>
        <input type="text" name="username" value="{{ username }}">
        <span class="error">{{ username_error }}</span>
    </div>
    <div id="form">
        <label>Password</label>
        <input type="password" name="password">
        <span class="error">{{ pass_error }}</span>
    </div>
    <div id="form">        
        <label>Verify Password</label>
        <input type="password" name="verifypass">
        <span class="error">{{ vpass_error }}</span>
    </div>
    <!--<div id="form">        
        <label>Email (optional)</label>
        <input type="text" name="EmailOptional" value="{{ Email }}">
        <span class="error">{{ email_error }}</span>
    </div>  -->
        <input type="submit" value="Register">
</form>



{% endblock %}